*.iml
.gradle
/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deviceManager.xml
/.idea/shelf/
/.idea/codeStyles/

.DS_Store
/captures
.externalNativeBuild
.cxx
.kotlin/

local.properties
*.hprof
.env

# Ignore all build folders
/build

# Allow APK output path
!app/build/
!app/build/outputs/
!app/build/outputs/apk/
!app/build/outputs/apk/debug/
!app/build/outputs/apk/debug/app-debug.apk
